name: CI/CD

on:
  push:
    branches: [master, qa, final-changes]

jobs:
#  upload_artifact:
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Upload IlpDataObjects.jar
#        uses: actions/upload-artifact@v2
#        with:
#          name: IlpDataObjects
#          path: ./artifacts/IlpDataObjects.jar

  build_and_test:
    needs: upload_artifact
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set-up JDK 14
        uses: actions/setup-java@v1
        with:
          java-version: 18

#      - name: Download IlpDataObjects.jar
#        uses: actions/download-artifact@v2
#        with:
#          name: IlpDataObjects
#          path: ./artifacts/

      - name: Cache the Maven packages to speed up build
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and test project with Maven
        run: mvn -B package --file pom.xml